div(class="dungeon-container")
  h4(class="dungeon-name") = dungeon.name 
  table:tbody 
    tr(class="trow")
      td Name of Dungeon:
      td= dungeon.dungeon_name 
    tr(class="trow")
      td Dungeon size: 
      td= dungeon.size 
    tr(class="trow") 
      td Monsters: 
      //- td= dungeon.monsters