div(class="monster-list-item")
    img(class="monster-image" src=monster.img_main)
    div(class="monster-info")
        h4(class="monster-name") = monster.name 
        p = monster.size 
        p = monster.type 
        p = monster.alignment