
extends layouts/main-layout.pug

block content_authenticatedNav
  if authenticated
    li(class='nav-link') 
      a(href="/api/users/logout") Logout
  else
    li(class='nav-link') 
      a(href="/api/users/login") Login  
block content
  div#app
    +user-form