extends layouts/main-layout.pug

block content_authenticatedNav
  if authenticated
    li(class='nav-link') 
      a(href="/api/users/logout") Logout
  else
    li(class='nav-link') 
      a(href="/api/users/login") Login  
block content
  if users
  div#app
    div(class="users-list-container")
      h2(class="list-header") Other D&D Player Profiles  
      each user in users
        table(class="user-card") 
          tr
            td Username: 
            td #{ user.username }


    

